%ul
  %li about
  %li portfolio
  %li video
  %li contact

#social
  =  link_to 'fbk', 'http://facebook.com'
  =  link_to 'twtr', 'http://facebook.com'
  =  link_to 'lkin', 'http://facebook.com'
  =  link_to 'gthb', 'http://facebook.com'